// import partials scss file

@import '../partials/color';
@import '../partials/fonts';
@import '../partials/mixin';
@import '../partials/navbar';

//main style page

.about-us {
  // header of page

  .au_header {
    background-image: url("../../img/AH00.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .au_h_txt {
      font: 3rem $af;
      padding-right: 20%;
      color: $accent_color;
    }

    .au_h_small_txt {
      padding-right: 28%;
      direction: rtl;
      font-size: 1.2rem;
    }


  }

  // text part

  .au_trust {
    text-align: right;
    direction: rtl;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .au_t_title {
      font: 2.5rem $af;
      margin-top: 50px;
    }

    .au_t_exp{
      padding: 10px 100px 50px;
      text-align: justify;
      line-height: 40px;
      font-size: 1.1rem;
      color: $smal_text;
    }

    .au_t_img {
      width: 250px;
    }
  }

  .au_best_quality{
    @extend .au_trust;
  }

  //counter part

  .au_counter_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 200px;
    box-shadow: 5px 5px 10px 5px #b8b8b8;
    margin:0 auto 50px;
    border-radius: 10px;

    .au_cb_field{
      width: 25%;
      height: 200px;
      text-align: center;

      .counter_icons{
        margin: 35px 0 10px;
        width: 50px;
      }

      .exp{
        margin-bottom: 10px;
        color: $smal_text;
      }

      .counter{
        display: inline-block;
        color: $smal_text;
        font-size: 1.2rem;
      }

    }
  }



}

//responsive part


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {

}

@media only screen and (max-width: 360px) {

}