@font-face {
  font-family: normal-font;
  src: url(../../fonts/Shabnam.eot) format("eot"), url(../../fonts/Shabnam.ttf) format("ttf"), url(../../fonts/Shabnam.woff) format("woff");
}
@font-face {
  font-family: bold-font;
  src: url(../../fonts/Shabnam-Bold.eot) format("eot"), url(../../fonts/Shabnam-Bold.ttf) format("ttf"), url(../../fonts/Shabnam-Bold.woff) format("woff");
}
@font-face {
  font-family: light-font;
  src: url(../../fonts/Shabnam-Light.eot) format("eot"), url(../../fonts/Shabnam-Light.ttf) format("ttf"), url(../../fonts/Shabnam-Light.woff) format("woff");
}
@font-face {
  font-family: accent-font;
  src: url(../../fonts/aviny.ttf) format("eot"), url(../../fonts/aviny.otf) format("otf"), url(../../fonts/avinyweb.woff) format("woff"), url(../../fonts/avinyweb.woff2) format("woff2");
}
body {
  font-family: light-font;
}

.secondary-nav {
  width: 100%;
  display: flex;
  padding-top: 16px;
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  height: 80px;
}
.secondary-nav .NB-search {
  width: 500px;
  direction: rtl;
  text-align: right;
  position: relative;
  top: 3px;
}
.secondary-nav .NB-search input {
  border-radius: 7px 0px 0px 7px !important;
  border-right: 0px;
  font-size: 0.9rem;
  height: 38px;
  border-color: #e4e4e4;
  color: #7c7c7c;
}
.secondary-nav .NB-search input::placeholder {
  color: #afafaf;
  font-size: 0.8rem;
  font-family: light-font;
}
.secondary-nav .NB-search span {
  background-color: #B5DB1E;
  height: 38px;
  border-radius: 0px 7px 7px 0px !important;
  cursor: pointer;
  border: 0;
}
.secondary-nav .NB-search span:hover {
  background-color: #d1f541;
}
.secondary-nav .NB-search span button {
  padding: 0;
}
.secondary-nav .NB-search span button i {
  position: relative;
  top: 2px;
  color: white;
}
.secondary-nav img {
  width: 100px;
  position: absolute;
  right: 20px;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #FAFAFA;
  box-shadow: 0px 8px 10px -5px #00000012;
  position: relative;
}
nav .right-NB {
  position: absolute;
  right: 20px;
}
nav .right-NB .navbar-option {
  list-style-type: none;
  display: flex;
  direction: rtl;
  padding: 0;
}
nav .right-NB .navbar-option li {
  cursor: pointer;
  height: 55px;
  padding: 0px 20px;
  text-align: center;
  padding-top: 15px;
  margin-left: 5px;
}
nav .right-NB .navbar-option li:hover {
  border-bottom: 2px solid #B5DB1E;
}
nav .right-NB .navbar-option li:hover a {
  color: #B5DB1E;
}
nav .right-NB .navbar-option li:hover p {
  color: #B5DB1E;
}
nav .right-NB .navbar-option li a {
  color: #919191;
  font-size: 0.9rem;
}
nav .right-NB .navbar-option li p {
  color: #919191;
  font-size: 0.9rem;
}
nav .right-NB .navbar-option li p i {
  position: relative;
  right: 3px;
  top: 2px;
}
nav .right-NB .navbar-option .NBP-dropdown {
  position: relative;
}
nav .right-NB .navbar-option .NBP-dropdown:hover .product-option {
  display: block;
}
nav .right-NB .navbar-option .NBP-dropdown:hover .product-option a {
  color: #919191;
}
nav .right-NB .navbar-option .NBP-dropdown .product-option {
  text-align: right;
  direction: rtl;
  width: 140px;
  border-radius: 7px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 55px;
  right: 0;
  border: 1px solid #eaeaea;
  display: none;
}
nav .right-NB .navbar-option .NBP-dropdown .product-option a {
  display: block;
  padding: 10px 0px;
  font-weight: bold;
  width: 100%;
  padding-right: 15px;
}
nav .right-NB .navbar-option .NBP-dropdown .product-option a:hover {
  color: #B5DB1E;
  background-color: #f4f4f4;
}
nav .right-NB .navbar-option .active-page {
  border-bottom: 2px solid #B5DB1E;
}
nav .left-NB {
  position: absolute;
  left: 20px;
  display: flex;
}
nav .left-NB .LR-field {
  font-weight: bold;
  padding-top: 15px;
  text-align: right;
  direction: rtl;
}
nav .left-NB .LR-field a {
  color: #707070;
  padding: 0px 3px;
}
nav .left-NB .LR-field a:nth-child(1) {
  border-right: 2px solid #707070;
  padding-right: 20px;
}
nav .left-NB .basket-field {
  text-align: right;
  direction: rtl;
  margin-left: 20px;
  padding-top: 15px;
}
nav .left-NB .basket-field a {
  color: #B5DB1E;
  font-weight: bold;
  position: relative;
}
nav .left-NB .basket-field a .B-conter {
  background-color: #B5DB1E;
  color: white;
  padding: 3px;
  width: 25px;
  height: 25px;
  border-radius: 500px;
  position: absolute;
  top: -12px;
  left: 10px;
  border: 4px solid #FAFAFA;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.3px;
}
nav .left-NB .basket-field a i {
  font-size: 1.1rem;
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.about-us .au_header {
  background-image: url("../../img/AH00.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  text-align: right;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-us .au_header .au_h_txt {
  font: 3rem accent-font;
  padding-right: 20%;
  color: #B5DB1E;
}
.about-us .au_header .au_h_small_txt {
  padding-right: 28%;
  direction: rtl;
  font-size: 1.2rem;
}
.about-us .au_trust, .about-us .au_best_quality {
  text-align: right;
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-us .au_trust .au_t_title, .about-us .au_best_quality .au_t_title {
  font: 2.5rem accent-font;
  margin-top: 50px;
}
.about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp {
  padding: 10px 100px 50px;
  text-align: justify;
  line-height: 40px;
  font-size: 1.1rem;
  color: #4b4b4b;
}
.about-us .au_trust .au_t_img, .about-us .au_best_quality .au_t_img {
  width: 250px;
}
.about-us .au_counter_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 200px;
  box-shadow: 5px 5px 10px 5px #b8b8b8;
  margin: 0 auto 50px;
  border-radius: 10px;
}
.about-us .au_counter_box .au_cb_field {
  width: 25%;
  height: 200px;
  text-align: center;
}
.about-us .au_counter_box .au_cb_field .counter_icons {
  margin: 35px 0 10px;
  width: 50px;
}
.about-us .au_counter_box .au_cb_field .exp {
  margin-bottom: 10px;
  color: #4b4b4b;
}
.about-us .au_counter_box .au_cb_field .counter {
  display: inline-block;
  color: #4b4b4b;
  font-size: 1.2rem;
}

/*# sourceMappingURL=about-us.css.map */
