// import partials scss file

@import '../partials/color';
@import '../partials/fonts';
@import '../partials/mixin';
@import '../partials/navbar';
@import '../partials/footer';

//main style page

.about-us {
  // header of page

  .au_header {
    background-image: url("../../img/AH00.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .au_h_txt {
      font: 3rem $af;
      padding-right: 10vw;
      color: $accent_color;
    }

    .au_h_small_txt {
      padding-right: 18vw;
      direction: rtl;
      font-size: 1.2rem;
    }


  }

  // text part

  .au_trust {
    text-align: right;
    direction: rtl;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .au_t_title {
      font: 2.5rem $af;
      margin-top: 50px;
    }

    .au_t_exp {
      padding: 10px 100px 50px;
      text-align: justify;
      line-height: 40px;
      font-size: 1.1rem;
      color: $smal_text;
    }

    .au_t_img {
      width: 250px;
    }
  }

  .au_best_quality {
    @extend .au_trust;
  }

  //counter part

  .au_counter_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 200px;
    box-shadow: 5px 5px 10px 5px #b8b8b8;
    margin: 0 auto 50px;
    border-radius: 10px;

    .au_cb_field {
      width: 25%;
      height: 200px;
      text-align: center;

      .counter_icons {
        margin: 35px 0 10px;
        width: 50px;
      }

      .exp {
        margin-bottom: 10px;
        color: $smal_text;
      }

      .counter {
        display: inline-block;
        color: $smal_text;
        font-size: 1.2rem;
      }

    }
  }


}

//responsive part


@media only screen and (max-width: 1200px) {
  .about-us .au_header {
    height: 450px;
  }
  .about-us .au_header .au_h_txt {
    font-size: 2.5rem;
  }
  .about-us .au_header .au_h_small_txt,
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp {
    font-size: 1rem;
  }

  .about-us .au_trust .au_t_title, .about-us .au_best_quality .au_t_title {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 992px) {
  .about-us .au_header {
    height: 350px;
  }
  .about-us .au_header .au_h_txt {
    font-size: 2.2rem;
  }
  .about-us .au_header .au_h_small_txt,
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp,
  .about-us .au_counter_box .au_cb_field .exp{
    font-size: .9rem;
  }
  .about-us .au_trust .au_t_img, .about-us .au_best_quality .au_t_img {
    width: 180px;
  }
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp {
    padding: 10px 100px 20px;
  }
  .about-us .au_counter_box .au_cb_field .counter_icons {
    width: 35px;
  }
  .about-us .au_counter_box .au_cb_field .counter{
    font-size: 1rem;
  }
  .about-us .au_counter_box{
    height: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .about-us .au_header {
    height: 250px;
  }
  .about-us .au_header .au_h_txt {
    font-size: 2rem;
  }
  .about-us .au_header .au_h_small_txt,
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp,
  .about-us .au_counter_box .au_cb_field .exp{
    font-size: .8rem;
  }
  .about-us .au_trust .au_t_title, .about-us .au_best_quality .au_t_title {
    font-size: 1.5rem;
  }
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp {
    padding: 10px 50px;
  }
  .about-us .au_counter_box{
    height: 160px;
  }
}

@media only screen and (max-width: 650px) {

  .about-us .au_header .au_h_txt {
    font-size: 1.5rem;
  }
  .about-us .au_trust .au_t_img, .about-us .au_best_quality .au_t_img {
    width: 130px;
  }
  .about-us .au_trust .au_t_title, .about-us .au_best_quality .au_t_title {
    font-size: 1.3rem;
  }
  .about-us .au_counter_box .au_cb_field .counter_icons {
    width: 25px;
  }
  .about-us .au_counter_box .au_cb_field .exp{
    font-size: .7rem;
  }
  .about-us .au_counter_box .au_cb_field .counter {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 600px) {
  .about-us .au_counter_box .au_cb_field{
    width: 50%;
    height: 140px;
  }
  .about-us .au_counter_box{
    height: 280px;
  }
}

@media only screen and (max-width: 500px) {
  .about-us .au_header {
    height: 200px;
  }

  .about-us .au_header .au_h_txt,
  .about-us .au_trust .au_t_title, .about-us .au_best_quality .au_t_title {
    font-size: 1.1rem;
  }
  .about-us .au_header .au_h_small_txt {
    font-size: .6rem;
    padding-right: 15vw;
  }
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp{
    font-size: .7rem;
  }
  .about-us .au_trust .au_t_img, .about-us .au_best_quality .au_t_img {
    width: 100px;
  }




}

@media only screen and (max-width: 400px) {
  .about-us .au_header {
    height: 170px;
  }
  .about-us .au_trust .au_t_exp, .about-us .au_best_quality .au_t_exp {
    padding: 10px 30px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 360px) {

}