<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/rules/rules.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->
    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control"
                        placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../products/product-list.html">سامسونگ</a>
                        <a href="../products/product-list.html">اپل</a>
                        <a href="../products/product-list.html">اپل واچ</a>
                        <a href="../products/product-list.html">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../products/product-list.html">سامسونگ</a>
                    <a href="../products/product-list.html">اپل</a>
                    <a href="../products/product-list.html">اپل واچ</a>
                    <a href="../products/product-list.html">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article-list.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="../login-register/login.html">ورود</a>
                /
                <a href="../login-register/register.html">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="../cart/cart-part1.html">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>

    <!-- page conent -->

    <section class="rules_field">
        <h1 class="all_header_text">قوانین و مقررات</h1>
        <span class="header_underline"></span>

        <h2 class="header_rules">شرایط و قوانین استفاده از خدمات فروشگاه اینترنتی ثریتی</h2>
        <p class="rules_text">کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات فروشگاه اینترنتی آموزشگاه شهر به دقت ملاحظه
            فرمایید.
            ورود کاربران به وب‏‌سایت فروشگاه اینترنتی آموزشگاه شهر و ثبت سفارش در هر زمان به معنی پذیرفتن کامل کلیه
            شرایط و قوانین فروشگاه از سوی کاربر است.
            لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.</p>

        <h3 class="header_rules">قوانین عمومی:</h3>
        <p class="rules_text">توجه داشته باشید کلیه اصول و رویه‏‌های فروشگاه اینترنتی آموزشگاه شهر منطبق با قوانین جمهوری اسلامی ایران،
            قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با
            کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و خدمات فروشگاه اینترنتی آموزشگاه شهر تغییراتی در آینده
            ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به
            معنی پذیرش هرگونه تغییر است.</p>

        <h3 class="header_rules">ثبت، پردازش و ارسال سفارش:</h3>
        <p class="rules_text">روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه سفارش‏‌های ثبت
            شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند.
            فروشگاه اینترنتی آموزشگاه شهر به مشتریان خود در ۷ روز هفته و ۲۴ ساعت در روز امکان ثبت سفارش می‌‏دهد ولیکن از
            ساعت ۱۰ صبح الی ۱۸ بعد از ظهر روزهای کاری ، امکان پاسخگویی و پیگیری و ارسال سفارشات میباشد.
            کلیه سفارش‌‏های ثبت شده در سایت فروشگاه اینترنتی آموزشگاه شهر به وسیله ارسال کد سفارش و پیش فاکتور از طریق
            ایمیل، در صف پردازش قرار می‏‌گیرند فروشگاه اینترنتی آموزشگاه شهر همواره در ارسال و تحویل کلیه سفارش‌‏های ثبت
            شده، نهایت دقت و تلاش خود را می‏‌نماید. با وجود این، در صورتی که موجودی محصولی در فروشگاه اینترنتی آموزشگاه
            شهر به پایان برسد، حتی پس از اقدام مشتری به سفارش‌‏گذاری، حق کنسل کردن آن سفارش و یا استرداد وجه سفارش برای
            فروشگاه اینترنتی آموزشگاه شهر محفوظ است و یا مشتری می‏‌تواند به جای کالای به اتمام رسیده، محصول دیگری را
            جایگزین کند.
            فروشگاه اینترنتی آموزشگاه شهر مجاز است بدون اطلاع قبلی نسبت به توقف سفارش‌‏گیری جدید، اقدام و فروش خود را
            متوقف کند و کلیه سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال می‌‏شود. حق قطع فروش کلیه و یا
            بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای فروشگاه اینترنتی آموزشگاه شهر
            محفوظ است.</p>

    </section>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
</body>

</html>