@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/header-text';
@import '../partials/errors';

.login_field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_underline {
    width: 250px;
}

.login_body{
    width: 500px;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 30px;
    text-align: right;
    direction: rtl;
    margin: 30px 0px;

    form{
        font-family: $nf;

        button{
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 20px;
        }

        .pass_forget{
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: 0.9rem;
        }
    }
}

// media query
@media only screen and (max-width: 550px) {

    .login_body {
        width: 90%;
    }

}

@media only screen and (max-width: 500px) {

    .login_field{

        .header_underline {
            width: 230px;
        }
    }

}


@media only screen and (max-width: 430px) {

    .pass_forget{
        font-size: 0.8rem !important;
        line-height: 25px;
    }

}