@import '../partials/color';
@import '../partials/fonts';
@import '../partials/mixin';
@import '../partials/navbar';
@import '../partials/footer';
@import '../partials/header-text';

.login_field{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login_body{
    width: 500px;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 30px;
    text-align: right;
    direction: rtl;

    form{
        font-family: $nf;

        button{
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 30px;
        }
    }
}