@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/header-text';
@import '../partials/errors';

.register_field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_underline {
    width: 160px;
}

.register_body{
    width: 500px;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 30px;
    text-align: right;
    direction: rtl;
    margin: 50px 0px;

    form{
        font-family: $nf;

        button{
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 30px;
            font-size: 1.2rem;
        }
    }
}

// media query
@media only screen and (max-width: 550px) {

    .register_body {
        width: 90%;
    }

}

@media only screen and (max-width: 470px) {

    .register_body{

        .header_underline {
            width: 150px;
        }
    }

}