<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/profile/order.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->

    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control" placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !"
                        aria-describedby="navbar_search">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../product/product-list.html">تمام محصولات</a>
                        <a href="">سامسونگ</a>
                        <a href="">اپل</a>
                        <a href="">اپل واچ</a>
                        <a href="">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../product/product-list.html">تمام محصولات</a>
                    <a href="">سامسونگ</a>
                    <a href="">اپل</a>
                    <a href="">اپل واچ</a>
                    <a href="">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="">ورود</a>
                /
                <a href="">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    <section class="RR_modal">
        <div class="main_field">
            <div class="contact_field">
                <p>ایا مطمعن هستید که میخواهید آدرس مورد نظر حذف شود ؟</p>

                <button class="btn no">خیر</button>
                <a href="" class="yes">بله</a>
            </div>
        </div>
    </section>

    <section class="list_field">
        <div class="list_body">
            <h3 class="all_header_text">لیست آدرس های من</h3>
            <span class="header_underline"></span>

            <div class="AL_field">
                <table class="address_list">
                    <thead>
                        <tr>
                            <th>انتخاب آدرس</th>
                            <th>ردیف</th>
                            <th>آدرس</th>
                            <th>شهر</th>
                            <th>شماره تماس</th>
                            <th>کد پستی</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="inp-cbx" id="PM-1" type="radio" name="PM" style="display: none" />
                                <label class="cbx" for="PM-1">
                                    <span>
                                        <svg width="12px" height="10px" viewbox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
    
                                </label>
                            </td>
                            <td id="row">1</td>
                            <td id="address">تهران - شهران - خیابان طوقانی - کوچه یاس ، پلاک 28 - بعد از دست انداز</td>
                            <td>تهران</td>
                            <td>09021414866</td>
                            <td>1546899753</td>
                            <td>
                                <button type="button" class="btn edit_address">
                                    <i class="fal fa-pencil-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn remove_tr">
                                    <i class="fal fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="inp-cbx" id="PM-1" type="radio" name="PM" style="display: none" />
                                <label class="cbx" for="PM-1">
                                    <span>
                                        <svg width="12px" height="10px" viewbox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
    
                                </label>
                            </td>
                            <td id="row">1</td>
                            <td id="address">تهران - شهران - خیابان طوقانی - کوچه یاس ، پلاک asd asd asdas d - بعد از دست انداز</td>
                            <td>تهران</td>
                            <td>asdasd</td>
                            <td>1546899753</td>
                            <td>
                                <button type="button" class="btn edit_address">
                                    <i class="fal fa-pencil-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn remove_tr">
                                    <i class="fal fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="add_address mt-5">
        <div class="add_body">
            <h3 class="all_header_text">افزودن آدرس جدید</h3>
            <span class="header_underline"></span>

            <div class="error_handler warning_error">
                <i class="fal fa-exclamation-circle"></i>
                <div class="error_content">
                    <p>
                        لطفا تمام فیلد ها را پر کنید
                    </p>
                </div>
                <i class="fal fa-times remove_erroe"></i>
            </div>

            <form class="add_form">
                <div class="form-group">
                    <label for="name_inp">آدرس</label>
                    <input type="text" class="form-control valid" id="name_inp">
                </div>
                <div class="form-group">
                    <label for="phoneNumber_inp">شهر</label>
                    <input type="text" class="form-control valid" id="phoneNumber_inp">
                </div>
                <div class="form-group">
                    <label for="email_inp">شماره تماس</label>
                    <input type="text" class="form-control valid" id="email_inp">
                </div>
                <div class="form-group">
                    <label for="email_inp">کد پستی</label>
                    <input type="text" class="form-control valid" id="email_inp">
                </div>

                <div class="captcha_inp">
                    <div class="form-group">
                        <label for="captcha_inp">کد امنیتی</label>
                        <input type="text" class="form-control valid" id="captcha_inp">
                    </div>
                    <button type="button">
                        <i class="far fa-redo-alt"></i>
                    </button>
                    <div class="captcha_img">
                        <img src="../../assets/img/LC00.png" alt="">
                    </div>
                </div>
                
                <button type="submit" class="btn check_valid check_address">ثبت تغییرات</button>
            </form>

        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
    <script src="../../assets/js/profile/order.js"></script>
    <script src="../../assets/js/custom/errors.js"></script>
</body>

</html>