<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/profile/profile-edit.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->

    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control" placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !"
                        aria-describedby="navbar_search">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../product/product-list.html">تمام محصولات</a>
                        <a href="">سامسونگ</a>
                        <a href="">اپل</a>
                        <a href="">اپل واچ</a>
                        <a href="">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../product/product-list.html">تمام محصولات</a>
                    <a href="">سامسونگ</a>
                    <a href="">اپل</a>
                    <a href="">اپل واچ</a>
                    <a href="">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="">ورود</a>
                /
                <a href="">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>
    <!-- navbar -->

        <!-- add new address modal -->
        <section class="AA_moda">
            <div class="AA_flex">
                <div class="AAM_field">
                    <i class="fas fa-times AAM_close"></i>
                    <h3 class="all_header_text">افزودن آدرس جدید</h3>
                    <span class="header_underline"></span>
    
                    <form>
                        <div class="form-group">
                            <label for="sale_inp">نام دریافت کننده</label>
                            <input type="text" class="form-control" id="sale_inp">
                        </div>
                        <div class="form-group">
                            <label for="sale_inp">آدرس</label>
                            <input type="text" class="form-control" id="sale_inp">
                        </div>
                        <div class="form-group">
                            <label for="sale_inp">کد پستی</label>
                            <input type="text" class="form-control" id="sale_inp">
                        </div>
                        <div class="form-group">
                            <label for="sale_inp">انتخاب شهر</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                        </div>
                        <button type="submit" class="btn">افزودن آدرس جدید</button>
                    </form>
                </div>
            </div>
        </section>

    <section class="edit_field">
        <div class="edit_body">
            <h3 class="all_header_text">ویرایش پروفایل</h3>
            <span class="header_underline"></span>

            <form>
                <div class="form-group">
                    <label for="name_inp">نام و نام خانوادگی</label>
                    <input type="text" class="form-control" id="name_inp">
                </div>
                <div class="form-group">
                    <label for="phoneNumber_inp">شماره تماس</label>
                    <input type="text" class="form-control" id="phoneNumber_inp">
                </div>
                <div class="form-group">
                    <label for="email_inp">پست الکترونیکی</label>
                    <input type="text" class="form-control" id="email_inp">
                </div>
                <div class="birth_day">
                    <p>تاریخ تولد</p>
                    <div>
                        <label for="day_inp">روز</label>
                        <input type="text" class="form-control" id="day_inp">
                    </div>
                    <Span>/</Span>
                    <div>
                        <label for="month_inp">ماه</label>
                        <input type="text" class="form-control" id="month_inp">
                    </div>
                    <Span>/</Span>
                    <div>
                        <label for="year_inp">سال</label>
                        <input type="text" class="form-control" id="year_inp">
                    </div>
                </div>
                <div class="add_address">+ افزودن آدرس جدید</div>

                <div class="avaible_address">
                    <p>شهران - خیابان طوقانی - خیابان یاس - پلاک 28 - واحد 4</p>
                    <p class="CN">کسری حبیب بیگی</p>
                    <p class="CN">کد پستی : 6874355986</p>
                    <p><i class="fal fa-backspace"></i> حذف آدرس</p>
                </div>
                
                <button type="submit" class="btn">ثبت تغییرات</button>
            </form>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
    <script src="../../assets/js/profile/profile-edit.js"></script>
</body>

</html>