<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/general/Swiper.css">
    <link rel="stylesheet" href="../../assets/css/profile/purchase-details.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->
    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control" placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !"
                        aria-describedby="navbar_search">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../product/product-list.html">تمام محصولات</a>
                        <a href="">سامسونگ</a>
                        <a href="">اپل</a>
                        <a href="">اپل واچ</a>
                        <a href="">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../product/product-list.html">تمام محصولات</a>
                    <a href="">سامسونگ</a>
                    <a href="">اپل</a>
                    <a href="">اپل واچ</a>
                    <a href="">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="">ورود</a>
                /
                <a href="">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>

    <!-- page conent -->

    <section class="goods_field">
        <h3 class="all_header_text">محصولات خریده شده</h3>
        <span class="header_underline"></span>

        <!-- product sammary -->
        <div class="product_summary_field">

            <div class="summary_img_field">
                <img class="summary_img" src="../../assets/img/AP03.PNG" alt="">
            </div>
            <div class="summary_details">
                <a href="">
                    <h3>گوشی موبایل سامسونگ مدل Galaxy Note20 Ultra SM-N985F/DS دو سیم کارت ظرفیت 256 گیگابایت</h3>
                </a>
                <div class="CM">
                    <div><span style="background-color: white;"></span>سفید</div>
                    <div>64 گیگابایت</div>
                </div>
                <div class="guarantee_field">
                    <i class="fal fa-shield-check"></i>
                    گارانتی 24 ماهه شرکت ارتا تجارت پارسه آریا
                </div>
                <p class="summary_price">قیمت : 3.000.000 </p>
            </div>

        </div>


        <div class="product_summary_field">

            <div class="summary_img_field">
                <img class="summary_img" src="../../assets/img/AP01.PNG" alt="">
            </div>
            <div class="summary_details">
                <a href="">
                    <h3>گوشی موبایل سامسونگ مدل Galaxy Note20 Ultra SM-N985F/DS دو سیم کارت ظرفیت 256 گیگابایت</h3>
                </a>
                <div class="CM">
                    <div><span style="background-color: white;"></span>سفید</div>
                    <div>64 گیگابایت</div>
                </div>
                <div class="guarantee_field">
                    <i class="fal fa-shield-check"></i>
                    گارانتی 24 ماهه شرکت ارتا تجارت پارسه آریا
                </div>
                <p class="summary_price">قیمت : 3.000.000 </p>
            </div>

        </div>
    </section>

    <section class="order_details_field mt-4">
        <h3 class="all_header_text">جزئیات سفارش</h3>
        <span class="header_underline"></span>

        <a class="factor_link" href="">مشاهده فاکتور</a>

        <!-- order details -->
        <div class="order_details">
            <div>
                <p>تحویل گیرنده :</p>
                <p>کسری حبیب بیگی</p>
            </div>
            <div>
                <p> ارسال به :</p>
                <p>تهران - شهران - خیابان طوقانی - خیابان یاس - پلاک 26 - واحد 10</p>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/general/Swiper.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
</body>

</html>