$nf : normal-font;
$bf : bold-font;
$lf : light-font;
$af : accent-font;

@font-face {
    font-family: $nf;
    src: url(../../fonts/Shabnam.eot) format('eot'),
        url(../../fonts/Shabnam.ttf) format('ttf'),
        url(../../fonts/Shabnam.woff) format('woff');
}

@font-face {
    font-family: $bf;
    src: url(../../fonts/Shabnam-Bold.eot) format('eot'),
        url(../../fonts/Shabnam-Bold.ttf) format('ttf'),
        url(../../fonts/Shabnam-Bold.woff) format('woff');
}

@font-face {
    font-family: $lf;
    src: url(../../fonts/Shabnam-Light.eot) format('eot'),
        url(../../fonts/Shabnam-Light.ttf) format('ttf'),
        url(../../fonts/Shabnam-Light.woff) format('woff');
}

@font-face {
    font-family: $af;
    src: url(../../fonts/aviny.ttf) format('eot'),
        url(../../fonts/aviny.otf) format('otf'),
        url(../../fonts/avinyweb.woff) format('woff'),
        url(../../fonts/avinyweb.woff2) format('woff2');
}

@import '../partials/mixin',
        '../partials/variable',
        '../partials/footer',
        '../partials/navbar',
        '../partials/E-confirm';

body{
    overflow-x: hidden;
    font-family: $nf;
}

.btn:hover {
    color: #ffffff;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

button:focus {
    outline: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

html {
    scroll-behavior: smooth;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.alert {
    position: unset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// ::-moz-selection {
//     background: #328efe5d;
// }

// ::selection {
//     background: #328efe5d;
// }

:focus {
    outline: none;
}

input{
    border-radius: 10px !important;
    border: 1px solid #e5e5e5 !important;
}

textarea{
    border-radius: 10px !important;
    border: 1px solid #e5e5e5 !important; 
}

select{
    border-radius: 10px !important;
    border: 1px solid #e5e5e5 !important; 

    text-align: center;
}

.form-control:focus {
    color: #495057;
    border-color: none !important;
    outline: 0;
    box-shadow: 0px 0px 5px 2px #00000015 !important; 
}

.form-control{
    color: #535353 !important;
}

label {
    color: #626262 !important;
}

label.error{
    color: red!important;
    padding-top: 5px !important;
}

// errors
.error_handler{
    width: 100%;
    padding: 10px 10px;
    border-radius: 7px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    margin-top: -15px;
    direction: rtl;
    text-align: right;

    .remove_erroe{
        position: absolute;
        left: 15px;
        top: 30%;
        cursor: pointer;
        font-size: 1.1rem;
    }

    i{
        font-size: 1.2rem;
    }

    div{
        max-width: 90%;
        line-height: 25px;
    }

    p{
        margin: 0;
        margin-right: 10px;
        font-size: 0.9rem;
    }
}

.warning_error{
    background-color: $warning_bg;
    color: $warning_color;
    border: 1px solid $warning_border;
}

.danger_error{
    background-color: $danger_bg;
    color: $danger_color;
    border: 1px solid $danger_border;
}

.success_error{
    background-color: $success_bg;
    color: $success_color;
    border: 1px solid $success_border;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #F8F9FA;
}

.dropdown {
    direction: rtl;
    text-align: right;
    border-right: 2px solid rgb(192, 192, 192);
    padding-right: 20px;

    .dropdown-toggle {
        padding: 0;
        color: #707070;

        i{
            position: relative;
            top: 3px;
            left: 6px;
        }
    }

    .dropdown-menu {
        direction: rtl;
        text-align: right;
        padding: 0px;
    }

    .dropdown-item {
        padding: 10px 20px;
        color: #707070;
    }
}

.dropdown-toggle::after {
    display: none;
}
