@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/header-text';
@import '../partials/add-comment';
@import '../partials/errors';

.main_field_article_details {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;

    aside {
        width: 25%;
        direction: rtl;
        text-align: right;

        .tag_field {
            width: 100%;
            padding: 30px;
            box-shadow: $shadow;
            border-radius: 15px;

            .all_header_text {
                font-size: 1.2rem !important;
            }

            .header_underline {
                width: 150px;
                margin-bottom: 25px;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                a {
                    display: block;
                    border-radius: 7px;
                    background-color: #F3F6F9;
                    text-align: center;
                    padding: 5px 15px;
                    width: max-content;
                    color: #8C8C8C;
                    margin: 5px 5px;
                    font-size: 0.9rem;
                }
            }
        }

        .offer_product {
            width: 100%;
            padding: 40px 10px;
            box-shadow: $shadow;
            border-radius: 15px;
            margin-top: 20px;

            .AO_goods {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0px 30px;

                img {
                    width: 150px;
                    height: 200px;
                }

                .AO_description {
                    text-align: right;
                    direction: rtl;
                    color: #3d3d3d;
                    width: 90%;
                    margin-top: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #d6d6d6;
                    line-height: 30px;
                    font-weight: bold;
                    font-size: 0.9rem;
                }

                .AO_sale_flag{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;

                    span{

                        &:first-child{
                            width: max-content;
                            padding: 0px 10px;
                            background-color: #FF6565;
                            color: #fff;
                            border-radius: 50px;
                            font-size: 1.5rem;
                            font-family: accent-font;
                            display: inline-block;
                        }

                        &:last-child{
                            text-decoration: line-through;
                            color: #bebebe;
                        }

                    }
                }

                .AO_sale_price{
                    text-align: center;
                    color: #EE384E;
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .AO_price {
                    font-size: 1.3rem;
                    color: #58BE1D;
                    font-weight: bold;
                }
            }

            .AOS_next_arrow {
                padding: 15px 8px;
                left: 0;
                right: unset !important;

                &::after {
                    display: none;
                }

                &::before {
                    content: '\f104';
                    font-size: 2.6rem;
                    color: $black;
                }
            }

            .AOS_prev_arrow {
                padding: 15px 8px;
                right: 0;

                &::after {
                    display: none;
                }

                &::before {
                    content: '\f105';
                    font-size: 2.6rem;
                    color: $black;
                }

            }
        }

        .article_suggest {
            width: 100%;
            padding: 30px;
            box-shadow: $shadow;
            border-radius: 15px;
            margin-top: 20px;

            .all_header_text {
                font-size: 1.2rem !important;
            }

            .header_underline {
                width: 180px;
                margin-bottom: 5px;
            }

            .field_of_suggest {
                width: 100%;
                display: flex;
                padding: 15px 0px;

                .suggest_img {
                    width: 70px;
                    height: 70px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 5px;
                    margin-left: 15px;
                    flex-shrink: 0;
                }

                .suggenst_info {
                    font-size: 0.9rem;
                    color: rgb(70, 70, 70);
                    width: max-content;
                    max-width: 190px;

                    p {

                        &:first-child {
                            margin-top: 10px;
                            margin-bottom: 5px;
                            line-height: 28px;
                        }

                        &:last-child {
                            color: rgb(201, 201, 201);
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }

    .article_detail {
        width: 73%;
        margin-left: 2%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: $shadow;
        position: relative;

        .header_img {
            width: 100%;
        }

        .detail_field {
            padding: 60px;
            text-align: justify;
            direction: rtl;

            h1 {
                font-size: 2.7rem;
                font-family: $af;
                margin-bottom: 20px;
                color: $accent_color;
            }

            p {
                color: rgb(83, 83, 83);
                line-height: 33px;
                font-size: 1rem;
            }

            h2 {
                margin: 0px 0px;
                font-size: 1.5rem;
                font-weight: bold;
            }

            h3{
                font-size: 1.5rem;
            }

            img{
                width: 100% !important;
                height: auto !important;
                border-radius: 15px;
            }
        }
    }
}

.PS_sticky {
    position: fixed;
    top: 80px;
    width: 22.5% !important;
}

.release_time {
    width: max-content;
    padding: 7px 20px;
    color: white;
    background-color: #171717;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 7px;
    text-align: revert;
    direction: rtl;
    font-size: 0.85rem;
}



@media only screen and (max-width: 1300px) {

    .main_field_article_details aside .tag_field {
        padding: 30px 15px;
    }

    .main_field_article_details aside .tag_field .header_underline {
        right: -15px;
    }

    .main_field_article_details aside .offer_product .AO_goods {
        padding: 0px 10px;
    }

    .main_field_article_details aside .offer_product .AO_goods img {
        width: 130px;
        height: 170px;
    }

    .main_field_article_details aside .offer_product {
        padding: 40px 10px 10px 10px;
    }

    .main_field_article_details aside .article_suggest {
        padding: 30px 15px 30px 15px;
    }

    .main_field_article_details aside .article_suggest .header_underline {
        right: -15px;
    }

}

@media only screen and (max-width: 1150px) {

    .comments {
        width: 90%;
        margin-left: 5%;
    }

    .main_field_article_details .article_detail {
        width: 68%;
    }

    .main_field_article_details aside {
        width: 30%;
    }

    .PS_sticky {
        position: fixed;
        top: 80px;
        width: 27% !important;
    }

    .main_field_article_details .article_detail .detail_field {
        padding: 40px;
    }

}

@media only screen and (max-width: 992px) {

    .main_field_article_details .article_detail {
        width: 100%;
        margin-left: 0%;
        order: 1;
    }

    .main_field_article_details aside {
        width: 100%;
        order: 2;
    }

    .main_field_article_details aside .tag_field {
        padding: 30px 15px;
        margin-top: 20px;
    }

    .main_field_article_details aside .flex_AS {
        display: flex;
        flex-wrap: wrap;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest {
        width: 49%;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest .suggest_img {
        width: 100px;
        height: 100px;
    }

}

@media only screen and (max-width: 768px) {

    .main_field_article_details aside .article_suggest .field_of_suggest .suggest_img {
        width: 80px;
        height: 80px;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest .suggenst_info p:first-child {
        font-weight: bold;
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 650px) {

    .main_field_article_details aside .article_suggest .field_of_suggest {
        width: 100%;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest .suggest_img {
        width: 110px;
        height: 110px;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest .suggenst_info {
        width: 100%;
        max-width: unset;
    }

    .main_field_article_details aside .article_suggest .field_of_suggest .suggenst_info p:first-child {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 550px) {

    .main_field_article_details .article_detail .detail_field h1 {
        font-size: 2.5rem;
    }

    .main_field_article_details .article_detail .detail_field h2 {
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 400px) {

    .main_field_article_details .article_detail .detail_field p {
        font-size: 0.9rem;
    }

    .main_field_article_details .article_detail .detail_field {
        padding: 30px;
    }

}

@media only screen and (max-width: 350px) {

    .main_field_article_details aside .article_suggest .field_of_suggest .suggest_img {
        width: 90px;
        height: 90px;
    }

}