<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/general/Swiper.css">
    <link rel="stylesheet" href="../../assets/css/index/index.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->
    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control"
                        placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !">
                </div>
            </form>
        </div>
        <!-- logo -->
        <a href="index.html">
            <img src="../../assets/img/AL00.png" alt="logo" title="logo">
        </a>
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../products/product-list.html">سامسونگ</a>
                        <a href="../products/product-list.html">اپل</a>
                        <a href="../products/product-list.html">اپل واچ</a>
                        <a href="../products/product-list.html">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../products/product-list.html">سامسونگ</a>
                    <a href="../products/product-list.html">اپل</a>
                    <a href="../products/product-list.html">اپل واچ</a>
                    <a href="../products/product-list.html">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article-list.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <!-- <div class="LR-field">
                <a href="../login-register/login.html">ورود</a>
                /
                <a href="../login-register/register.html">عضویت</a>
            </div> -->
            <!-- profile dropdown -->
            <div class="dropdown">
                <button class="btn dropdown-toggle " type="button" id="pr_dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-angle-down"></i>
                    پروفایل
                </button>
                <div class="dropdown-menu" aria-labelledby="pr_dropdown">
                    <a class="dropdown-item" href="../profile/profile.html">پروفایل کاربری</a>
                    <a class="dropdown-item" href="../profile/order.html">آدرس ها</a>
                    <a class="dropdown-item" href="../profile/change-password.html">تغییر رمز عبور</a>
                    <a class="dropdown-item" href="">آدرس ها</a>
                    <a class="dropdown-item exit_pro" href="#">خروج</a>
                </div>
            </div>

            <div class="basket-field">
                <a href="../cart/cart-part1.html">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>

    <!-- page conent -->

    <section class="header_sliders">
        <a href="" class="LHS">
            <div class="LHS_contents">
                <img src="../../assets/img/AP02.png" alt="">
                <p class="LHS_detail">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                <p class="LHS_price">3.500.000</p>
                <p class="LHS_sale">3.000.000</p>
            </div>
        </a>
        <div class="RHS">
            <div class="swiper-container HRBS">
                <a href="" class="swiper-wrapper">
                    <!-- big slider content -->
                    <div class="swiper-slide" style="background-image: url(../../assets/img/AB01.jpg);">
                        <div class="RHS_contents">
                            <p class="HC">
                                رایانه ای پرقدرت در دستان توست
                            </p>
                            <p class="HD">
                                ارسال به سر تا سر کشور با پیک رایگاه ، پشتیبانی تا 6 ماه به همراه اصالت کالا
                            </p>
                        </div>
                    </div>
                    <!-- big slider content -->
                </a>
                <!-- Add Arrows -->
                <div class="swiper-button-next fal RHS_next_arrow"></div>
                <div class="swiper-button-prev fal RHS_prev_arrow"></div>
            </div>
        </div>
    </section>

    <section class="categorys">
        <a href="" class="ATPC001">
            <h3>Accessories</h3>
            <p>بهترین های اپل را با بهترین کیفیت داشته باشید</p>
            <img class="category_img_000" src="../../assets/img/IC00.png" alt="">
        </a>
        <a href="" class="ATPC002">
            <img class="apple_log" src="../../assets/img/IL00.png" alt="">
            <p>بهترین های اپل را با بهترین کیفیت داشته باشید</p>
            <img class="category_img_001" src="../../assets/img/AP03.png" alt="">
        </a>
        <a href="" class="ATPC003">
            <img class="samsung_logo" src="../../assets/img/IL01.png" alt="">
            <p>بهترین های اپل را با بهترین کیفیت داشته باشید</p>
            <img class="category_img_002" src="../../assets/img/AP01.png" alt="">
        </a>
    </section>

    <!-- product slider -->
    <section class="product_slider">
        <div class="PS_header_text">
            <h3>محصولات ویژه</h3>
            <span></span>
        </div>
        <div class="swiper-container SP000">
            <div class="swiper-wrapper">
                <!-- slider content -->
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP00.PNG" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP06.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP08.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP07.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <!-- slider content -->
            </div>

            <div class="swiper-button-next fal PS000_next_arrow"></div>
            <div class="swiper-button-prev fal PS000_next_prev"></div>
        </div>
    </section>

    <!-- product slider -->
    <section class="product_slider">
        <div class="PS_header_text">
            <h3>تخفیف های ویژه</h3>
            <span></span>
        </div>
        <div class="swiper-container SP000">
            <div class="swiper-wrapper">
                <!-- slider content -->
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP00.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>17%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP01.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP03.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP06.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP07.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP08.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="sale_flag">
                            <span>10%</span>
                            <span>4.000.000</span>
                        </p>
                        <p class="slae_price">3.600.000</p>
                    </a>
                </div>


                <!-- slider content -->
            </div>

            <div class="swiper-button-next fal PS000_next_arrow"></div>
            <div class="swiper-button-prev fal PS000_next_prev"></div>
        </div>
    </section>


    <!-- packages section -->
    <section class="packag_field">
        <div class="PFS">
            <div>
                <p>پکیج های بند اپل</p>
                <h2>تا 50 درصد تخفیف</h2>
                <a href="">مشاهده تمام پک ها</a>
            </div>
            <img class="apple_bordered_logo" src="../../assets/img/IL02.png" alt="">
        </div>
        <div class="PFS">
            <div>
                <p>پکیج های بند اپل</p>
                <h2>تا 50 درصد تخفیف</h2>
                <a href="">مشاهده تمام پک ها</a>
            </div>
            <img class="samsung_bordered_logo" src="../../assets/img/IL03.png" alt="">
        </div>
    </section>

    <!-- product slider -->
    <section class="product_slider">
        <div class="PS_header_text">
            <h3>پرفروش ترین ها</h3>
            <span></span>
        </div>
        <div class="swiper-container SP000">
            <div class="swiper-wrapper">
                <!-- slider content -->
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP00.PNG" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP06.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP08.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP07.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <!-- slider content -->
            </div>

            <div class="swiper-button-next fal PS000_next_arrow"></div>
            <div class="swiper-button-prev fal PS000_next_prev"></div>
        </div>
    </section>

    <!-- product slider -->
    <section class="product_slider">
        <div class="PS_header_text">
            <h3>محبوب ترین ها</h3>
            <span></span>
        </div>
        <div class="swiper-container SP000">
            <div class="swiper-wrapper">
                <!-- slider content -->
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP00.PNG" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP06.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP08.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP07.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="PS_field">
                        <img src="../../assets/img/AP02.png" alt="">
                        <p class="PS_description">گوشی موبایل هوااوی مدل galaxy note 9 ظرفیت 128 گیگ</p>
                        <p class="PS_price">3.000.000</p>
                    </a>
                </div>
                <!-- slider content -->
            </div>

            <div class="swiper-button-next fal PS000_next_arrow"></div>
            <div class="swiper-button-prev fal PS000_next_prev"></div>
        </div>
    </section>

    <!-- article section -->
    <section class="article_field">
        <div class="big_cart">
            <a href="" class="cart_field" style="background-image: url(../../assets/img/AB07.jpg);">
                <div class="layout"></div>
                <div class="content">
                    <h3>بهترین گوشی سال 2020</h3>
                    <p>بعد از مدت‌ها این برند تایوانی از مدل جدید گوشی هوشمند خودش رونمایی کرد، البته چندی پیش هم شاهد
                        رونمایی از چند مدل از این کمپانی بودیم، اما </p>
                </div>
            </a>
        </div>
        <div class="small_carts">
            <a href="" class="SCF">
                <div class="cart_field" style="background-image: url(../../assets/img/AB02.jpg);">
                    <div class="layout"></div>
                    <div class="content">
                        <h3>بهترین گوشی سال 2020</h3>
                        <p>بعد از مدت‌ها این برند تایوانی از مدل جدید گوشی هوشمند خودش رونمایی کرد، الب </p>
                    </div>
                </div>
            </a>
            <a href="" class="SCF">
                <div class="cart_field" style="background-image: url(../../assets/img/AB03.jpg);">
                    <div class="layout"></div>
                    <div class="content">
                        <h3>بهترین گوشی سال 2020</h3>
                        <p>بعد از مدت‌ها این برند تایوانی از مدل جدید گوشی هوشمند خودش رونمایی کرد، الب </p>
                    </div>
                </div>
            </a>
            <a href="" class="SCF">
                <div class="cart_field" style="background-image: url(../../assets/img/AB04.jpg);">
                    <div class="layout"></div>
                    <div class="content">
                        <h3>تفاوت گوشی های طرح اصلی با اورجینال</h3>
                        <p>بعد از مدت‌ها این برند تایوانی از مدل جدید گوشی هوشمند خودش رونمایی کرد، الب </p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!-- exit alert -->
    <section class="exit_confirm">
        <div class="content_parent">
            <div class="confiem_content">
                <p>ایا مطمئن هستید که میخواهید از پروفایل خود خارج شوید ؟</p>
                <button type="button" class="btn no">خیر</button>
                <a href="" class="btn yes">بله</a>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/general/Swiper.js"></script>
    <script src="../../assets/js/index/index.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
    <script src="../../assets/js/custom/E-alert.js"></script>
</body>

</html>