@import '../partials/color';
@import '../partials/fonts';
@import '../partials/mixin';
@import '../partials/navbar';
@import '../partials/footer';
@import '../partials/header-text';

.edit_field {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: $nf;

    .edit_body {
        width: 500px;
        border-radius: 15px;
        box-shadow: $shadow;
        padding: 40px;
        text-align: right;
        direction: rtl;

        .birth_day {
            display: flex;
            flex-wrap: wrap;

            p {
                width: 100%;
                margin-bottom: 10px;
            }

            div {
                width: 70px;
            }

            span {
                margin: 0px 10px;
                position: relative;
                top: 41px;
            }
        }

        button {
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 50px;
        }
    }

    .add_address{
        color: #69D9E7;
        margin-top: 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 550px) {

    .edit_field .edit_body {
        width: 90%;
    }

}

@media only screen and (max-width: 385px) {

    .edit_field .edit_body .birth_day div {
        width: 60px;
    }

}

@media only screen and (max-width: 385px) {

    .edit_field .edit_body .birth_day div {
        width: 50px;
    }

}