@import '../partials/color';
@import '../partials/fonts';
@import '../partials/mixin';
@import '../partials/navbar';
@import '../partials/footer';

.edit_field {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: $nf;

    .edit_body {
        margin-top: 40px;
        width: 500px;
        border-radius: 15px;
        box-shadow: $shadow;
        padding: 40px;
        text-align: right;
        direction: rtl;

        h3 {
            font-size: 1.5rem !important;
            font-weight: bold;
        }

        .header_underline {
            display: block;
            width: 300px;
            height: 2px;
            background-color: $accent_color;
            border-radius: 50px 0px 0px 50px;
            position: relative;
            right: -30px;
            box-shadow: 10px 9px 15px 0px $accent_color;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .birth_day {
            display: flex;
            flex-wrap: wrap;

            p {
                width: 100%;
                margin-bottom: 10px;
            }

            div {
                width: 70px;
            }

            span {
                margin: 0px 10px;
                position: relative;
                top: 41px;
            }
        }

        button {
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 50px;
        }
    }

    .add_address{
        color: #69D9E7;
        margin-top: 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 550px) {

    .edit_field .edit_body {
        width: 90%;
    }

}

@media only screen and (max-width: 450px) {

    .edit_field .edit_body .header_underline {
        width: 210px;
        margin-bottom: 40px;
    }

    .edit_field .edit_body h3 {
        font-size: 1.2rem !important;
    }

}

@media only screen and (max-width: 385px) {

    .edit_field .edit_body .birth_day div {
        width: 60px;
    }

}

@media only screen and (max-width: 385px) {

    .edit_field .edit_body .birth_day div {
        width: 50px;
    }

}