@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/header-text';
@import '../partials/errors';
@import '../partials/captcha';

.edit_field {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: $nf;

    .header_underline {
        right: -40px;
    }

    .edit_body {
        width: 500px;
        border-radius: 15px;
        box-shadow: $shadow;
        padding: 40px;
        text-align: right;
        direction: rtl;

        .avaible_address{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid rgb(216, 216, 216);
            margin-top: 30px;
            padding-top: 30px;

            p{
                color: #626262;
                width: 100%;

                &:last-child{
                    color: rgba(255, 0, 0, 0.438);
                    cursor: pointer;
                    width: max-content;
                    margin-bottom: 0px;

                    &:hover{
                        color: red;
                    }
                }


                i{
                    margin-left: 5px;
                    position: relative;
                    top: 2px;
                }
            }

            .CN{
                color: #B4B4B4;
                width: 49%;

                &:last-child{
                    margin-right: 40px;
                }
            }
        }

        button {
            width: 100%;
            padding: 10px 30px;
            background-color: $accent_color;
            border-radius: 50px;
            color: $white;
            margin-top: 20px;
        }
    }

    .add_address{
        color: #69D9E7;
        margin-top: 20px;
        cursor: pointer;
        width: max-content;
    }
}

nav {
    z-index: 100000000;
}


@media only screen and (max-width: 550px) {

    .edit_field .edit_body {
        width: 90%;
    }


}

@media only screen and (max-width: 480px) {

    .edit_field .edit_body .avaible_address .CN {
        width: 100%;
    }

}


@media only screen and (max-width: 450px) {

    .AA_moda .AAM_field form {
        padding: 0px 0px;
    }

    .AA_moda .AAM_field {
        .header_underline {
            width: 210px;
        }
    }

    .edit_body{

        .header_underline {
            width: 190px;
        }
    }

    .edit_field .edit_body {
        padding: 30px;
    }

}
