@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/product-summary';
@import '../partials/header-text';

.goods_field,
.order_details_field {
    width: 80%;
    margin-left: 10%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: $shadow;
    direction: rtl;
    text-align: right;

}

.order_details_field {
    position: relative;

    .factor_link {
        position: absolute;
        left: 40px;
        top: 28px;
        color: $accent_color;
        font-weight: bold;
    }

    .order_details {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;

        div {
            width: 50%;
            font-family: $nf;

            p {
                line-height: 35px;

                &:first-child {
                    color: #BABABA;
                }

                &:last-child {
                    color: #7F7F7F;
                }
            }
        }
    }
}

// media query

@media only screen and (max-width: 720px) {

    .order_details_field .order_details div {
        width: 100%;
    }

    .order_details_field .order_details div {
        display: flex;
    }

    .order_details_field .order_details div p:first-child {
        margin-left: 7px;
    }

    .order_details_field .order_details div p:first-child {
        flex-shrink: 0;
    }

    .goods_field,
    .order_details_field {
        width: 90%;
        margin-left: 5%;

    }

}

@media only screen and (max-width: 550px) {

    .order_details_field .order_details div {
        display: flex;
        font-size: 0.9rem;
    }

    .goods_field {

        .header_underline {
            width: 220px;
        }
    }

    .order_details_field {

        .header_underline {
            width: 180px;
        }
    }

}

@media only screen and (max-width: 430px) {

    .order_details_field .order_details {
        margin-top: 95px;
    }

}

@media only screen and (max-width: 350px) {

    .order_details_field .factor_link {
        left: 0px;
        top: 119px;
        width: 100%;
        text-align: center;
    }

    .order_details_field .order_details {
        margin-top: 95px;
    }

}