<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/contact-us/contact-us.css">
    <title>تماس با ما</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->
    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control" placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !"
                        aria-describedby="navbar_search">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="left-nb">

        </div>
        <div class="right-NB">
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option">
                        <a href="">سامسونگ</a>
                        <a href="">اپل</a>
                        <a href="">اپل واچ</a>
                        <a href="">ایر پاد</a>
                    </div>
                </li>
                <li>
                    <a href="">اخبار</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="">ورود</a>
                /
                <a href="">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>

    <!--page content-->

    <section class="qustion_answer">

        <h2>سوالات متداول</h2>
        <p>در بخش زیر بیشترین و کاربردی ترین سوالاتی که از ما پرسیده شده و برای شما عزیزان ممکن است سوال باشد را پاخ
            داده ایم ، در صورتی که جواب سوال خود را پیدا نکردید حتما با ماتماس حاصل فرمایید</p>

        <div class="accordion" id="QA_accardion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            چطوری از گارانتی استفاده کنم ؟
                        </button>
                    </h3>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#QA_accardion">
                    <div class="card-body">
                        <p>
                            نکته بعدی در مورد متن ساختگی لورم ایپسوم این است که بعضی از طراحان وبسایت و گرافیست کاران
                            بعد از آنکه قالب و محتوای مورد نظرشون را ایجاد کردند از یاد می‌برند که متن لورم را از
                            قسمتهای مختلف سایت حذف کنند و یا با متن دیگری جایگزین کنند. به همین دلیل اغلب اوقات ما با
                            وبسایتهایی مواجه می‌شویم که در گوشه و کنار صفحات آنها متن لورم ایپسوم هنوز وجود دارد و حذف
                            نشده است که این نشان دهنده بی توجهی طراحان است.
                        </p>
                        <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم
                            استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در
                            آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است.</p>
                        <p>طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده
                            نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط
                            بگردد تمرکزش از روی کار اصلی برداشته میشود و اینکار زمان بر خواهد بود. همچنین طراح به دنبال
                            این است که پس از ارایه کار نظر دیگران را در مورد طراحی جویا شود و نمی‌خواهد افراد روی متن
                            های موجود تمرکز کنند.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            چطوری میتونم به شما اعتماد کنم ؟
                        </button>
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#QA_accardion">
                    <div class="card-body">
                        طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده
                        نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد
                        تمرکزش از روی کار اصلی برداشته میشود و اینکار زمان بر خواهد بود. همچنین طراح به دنبال این است که
                        پس از ارایه کار نظر دیگران را در مورد طراحی جویا شود و نمی‌خواهد افراد روی متن های موجود تمرکز
                        کنند.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            آیا همه محصولاتتون شامل گارانتی می شود ؟
                        </button>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#QA_accardion">
                    <div class="card-body">
                        متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت
                        چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده
                        می‌کنند.
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="main_contact_us">

        <!--    left part - text base -->
        <div class="mcu_left_box">
            <h1>تماس با ما</h1>
            <h2>نظرات ، پیشنهادات ، انتقادات خود را با ما در میان بگذارید و ما را برای بهبود خدمات رسانی
                یاری کنید.
                ما همواره در تلاشیم تا جهت رضایت شما عزیزان گام برداریم</h2>
            <ul class="lb_list">
                <li>
                    پشتیبانی ۲۴ ساعته
                </li>
                <li>
                    پاسخ به تمام سوالات شما کمتر از ۱ ساعت
                </li>
                <li>
                    در صورت لزوم از چت انلاین استفاده کنید
                </li>
            </ul>

            <ul class="lb_list_cnct">
                <li>
                    <i class="fal fa-map-marker-smile"></i>
                    <p>
                        تهران خیابان مطهری نرسیده به سهروردی
                        پلاک ۱۱۸ طبقه سوم - نزدیک مترو مفتح
                    </p>
                </li>
                <li>
                    <i class="fal fa-at"></i>
                    <p>
                        mobile_market444@gmail.com
                    </p>
                </li>
                <li>
                    <i class="fal fa-phone"></i>
                    <p>
                        ۹۱۰۷۰۱۹۷ ۰۲۱
                        &nbsp;
                        &nbsp;
                        ۰۹۳۵۶۹۰۸۶۶۶
                    </p>
                </li>
            </ul>
        </div>

        <!--    right part - contact form -->
        <div class="mcu_right_box">
            <form class="form_contact_us">
                <div class="form-group">
                    <label for="email_inp">ایمیل</label>
                    <input type="text" class="form-control fof" id="email_inp">
                </div>
                <div class="form-group">
                    <label for="phone_inp">شماره تماس</label>
                    <input type="text" class="form-control fof" id="phone_inp">
                </div>
                <div class="form-group">
                    <label for="title_inp">موضوع پیام</label>
                    <input type="text" class="form-control fof" id="title_inp">
                </div>
                <div class="form-group">
                    <label for="msg_inp">متن پیام</label>
                    <textarea class="form-control fof" id="msg_inp" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn_send_msg">ارسال پیام</button>
            </form>
        </div>
        <!--   end right part - contact form -->
    </section>

    <!--end contact us part-->

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
</body>

</html>