<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فاکتور فروش</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/invoices-show/invoices-show.css">
</head>
<body>

<section class="invoices">
    <h1 class="i_title">
        فاکتور فروش
    </h1>
    <table class="table table-bordered info_table">
        <tr>
            <th class="t_th">
                <div class="title">
                    فروشنده
                </div>
            </th>
            <td class="details">
                <div class="d_first_box">
                    <div class="column">
                        <p class="postal_code t_s">کدپستی:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">۱۲۲۳۴۳۲۴۲۱</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">شماره فاکتور:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s">۳۴۲۳۴۳</p>
                    </div>
                </div>
                <div class="d_sec_box">
                    <div class="column">
                        <p class="postal_code t_s">شماره ثبت:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">۱۲۲۱</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">تلفن تماس:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s"> ۰۲۱۹۱۰۷۰۱۹۷ </p>
                    </div>
                </div>
                <div class="d_th_box">
                    <div class="column">
                        <p class="postal_code t_s">فروشنده:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">فروشگاه اینترنتی مبایل طرح اصل ATP</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">آدرس:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s">
                            تهران
                            خیابان مطهری
                            نرسیده به سهروردی
                            پلاک ۱۱۸ طبقه سوم
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="t_th">
                <div class="title">
                    خریدار
                </div>
            </th>
            <td class="details" style="border-bottom: none">
                <div class="d_first_box">
                    <div class="column">
                        <p class="postal_code t_s">کدپستی:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">۱۲۲۳۴۳۲۴۲۱</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">شماره فاکتور:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s">۳۴۲۳۴۳</p>
                    </div>
                </div>
                <div class="d_sec_box">
                    <div class="column">
                        <p class="postal_code t_s">شماره ثبت:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">-</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">تلفن تماس:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s"> ۰۹۰۲۳۷۲۷۵۸۸ </p>
                    </div>
                </div>
                <div class="d_th_box">
                    <div class="column">
                        <p class="postal_code t_s">خریدار:</p>
                        &nbsp;&nbsp;
                        <p class="code t_s">نادیه نجم آبادی</p>
                    </div>
                    <div class="column">
                        <p class="factor_num t_s">آدرس:</p>
                        &nbsp;&nbsp;
                        <p class="num t_s">
                            تهران
                            خیابان شاهین شمالی
                            پلاک ۷
                            واحد ۲
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered info_purchase_table">
        <thead>
        <tr class="t-tr">
            <th>ردیف</th>
            <th>کد کالا</th>
            <th>نام کالا</th>
            <th>تعداد</th>
            <th>مبلغ واحد(ریال)</th>
            <th>مبلغ کل(ریال)</th>
            <th>تخفیف(ریال)</th>
            <th>مبلغ کل پس از تخفیف (ریال)</th>
            <th>جمع مالیات و عوارض (ریال)</th>
            <th>جمع کل پس از تخفیف و مالیات و عوارض (ریال)</th>
        </tr>
        </thead>
        <tbody class="t_tb">
        <tr>
            <th>1</th>
            <td>77682</td>
            <td>ایرپاد پرو طرح اصلی</td>
            <td>5</td>
            <td>157,798</td>
            <td>788,990</td>
            <td>0</td>
            <td>788,990</td>
            <td>71,010</td>
            <td>860,000</td>
        </tr>
        <tr>
            <th>2</th>
            <td>77682</td>
            <td>اپل واچ سری۵ </td>
            <td>5</td>
            <td>157,798</td>
            <td>788,990</td>
            <td>0</td>
            <td>788,990</td>
            <td>71,010</td>
            <td>860,000</td>
        </tr>
        <tr>
            <th>3</th>
            <td>77682</td>
            <td>آیفون ایکس مکس</td>
            <td>5</td>
            <td>157,798</td>
            <td>788,990</td>
            <td>0</td>
            <td>788,990</td>
            <td>71,010</td>
            <td>860,000</td>
        </tr>
        <tr class="t-tr">
            <td colspan="9">جمع کل پس از تخفیف و مالیات و عوارض (ریال)</td>
            <td>1,705,000</td>
        </tr>
        <tr>
            <td colspan="10" class="sinecure">
                <div class="s_b">
                    مهر و امضا فروشنده:
                    <p class="">
                        فروشگاه آنلاین مبایل ATP
                    </p>
                </div>
                <div class="s_b">
                    تاریخ تحویل:
                    <p class="">1399/12/03</p>
                </div>
                <div class="s_b">
                    ساعت تحویل:
                    <p class="">15-12</p>
                </div>
                <div class="s_b">
                    مهر و امضای خریدار:
                    <p class="">-</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="print_invoices">پرینت فاکتور</button>
</section>

<script src="../../assets/js/general/jquery.js"></script>
<script src="../../assets/js/general/popper.js"></script>
<script src="../../assets/js/general/bootstrap.js"></script>


</body>
</html>