.add_comment {
    width: 500px;
    margin: 0 auto;

    h3 {
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
    }

    form {
        text-align: right;
        direction: rtl;

        button {
            font-size: 1.2rem;
            padding: 5px 50px;
            color: $white;
            background-color: $accent_color;
            border-radius: 50px;
            margin-bottom: 110px;
        }
    }
}

.comments {
    width: 80%;
    margin-left: 10%;

    .comment_field {
        display: flex;
        direction: rtl;
        text-align: right;
        position: relative;
        margin-bottom: 50px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            margin-left: 20px;
        }

        .comments_info {

            .name {
                font-weight: bold;
            }

            .comment_text {
                color: rgb(44, 44, 44);
                line-height: 30px;
            }
        }

        .time_reply {

            p {
                color: rgb(197, 197, 197);
                font-size: 0.85rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .add_comment {
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 550px) {

    .add_comment h3 {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 500px) {

    .add_comment h3 {
        font-size: 1.3rem;
        line-height: 40px;
    }

}

@media only screen and (max-width: 400px) {

    .add_comment h3 {
        font-size: 1.1rem;
    }

    .add_comment {
        width: 90%;
    }

    .comments .comment_field img {
        width: 50px;
        height: 50px;
    }

}