footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #202325;
    padding: 120px 100px 0px 100px;
    margin-top: 30px;

    .contact {
        width: 30%;
        direction: rtl;
        text-align: right;
        color: $white;

        .header {
            font-size: 1.3rem;
            font-weight: bold;
        }

        p {
            line-height: 34px;
            text-align: justify;

            i {
                margin-left: 5px;
            }

            span {
                &:last-child {
                    margin-right: 15px;
                }
            }
        }
    }

    .short_links {
        width: 20%;
        direction: rtl;
        text-align: right;
        color: $white;

        .header {
            font-size: 1.3rem;
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 15px;

                a {
                    color: rgb(177, 177, 177);

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .footer_description {
        width: 30%;
        direction: rtl;
        text-align: right;
        color: $white;

        .header {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .FDT {
            line-height: 35px;
            text-align: justify;
            width: 80%;
        }

        .social_media {
            text-align: center;
            width: 80%;

            a {
                font-size: 1.5rem;
                color: $white;

                &:nth-child(2) {
                    margin: 0px 15px;
                }
            }
        }
    }

    .copy_right {
        width: 100%;
        border-top: 1px solid rgb(68, 68, 68);
        padding: 15px 0px;
        color: rgb(189, 189, 189);
        text-align: center;
        margin-top: 80px;

        p {
            margin-bottom: 0;

            a {
                color: #ffffff;
            }
        }
    }
}

.enamad {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        background-color: #fafafa;
        padding: 20px;
        border-radius: 5px;

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1200px) {

    footer .footer_description .FDT {
        font-size: 0.9rem;
        line-height: 30px;
    }

    footer .contact p {
        font-size: 0.9rem;
    }

    footer .short_links .header {
        font-size: 1.1rem;
    }

    footer .contact .header {
        font-size: 1.1rem;
    }

}

@media only screen and (max-width: 998px) {

    footer {
        padding: 120px 50px 0px 50px;
    }

}

@media only screen and (max-width: 900px) {

    footer .contact {
        width: 49%;
        direction: rtl;
        order: 1;
    }

    footer .short_links {
        width: 49%;
        order: 2;
        margin-top: 70px;
    }

    footer .short_links {
        width: 49%;
        order: 2;
        margin-top: 70px;
    }

    footer .footer_description {
        width: 49%;
        order: 1;
    }

    footer .copy_right {
        order: 4;
    }

}

@media only screen and (max-width: 600px) {

    footer .contact {
        width: 90%;
        margin-left: 5%;
        direction: rtl;
        order: 2;
        text-align: center;
        margin-top: 70px;
    }

    footer .short_links {
        width: 90%;
        margin-left: 5%;
        order: 3;
        margin-top: 70px;
        text-align: center;
    }

    footer .short_links {
        width: 90%;
        margin-left: 5%;
        order: 4;
        margin-top: 70px;
        text-align: center;
    }

    footer .footer_description {
        width: 90%;
        margin-left: 5%;
        order: 1;
        text-align: center;
    }

    footer .copy_right {
        order: 4;
        margin-top: 40px;
    }

    footer .footer_description .FDT {
        text-align: center;
        width: 100%;
    }

    footer .footer_description .social_media {
        width: 100%;
    }

    footer .contact .header {
        text-align: center;
    }

    footer .contact p {
        text-align: center;
    }
}