h3 {
    font-size: 1.2rem !important;
    font-weight: bold;
}

.header_underline {
    display: block;
    width: 300px;
    height: 2px;
    background-color: $accent_color;
    border-radius: 50px 0px 0px 50px;
    position: relative;
    right: -30px;
    box-shadow: 10px 9px 15px 0px $accent_color;
    margin-top: 20px;
    margin-bottom: 50px;
}