.all_header_text {
    font-size: 1.5rem !important;
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.header_underline {
    display: block;
    width: 300px;
    height: 2px;
    background-color: $accent_color;
    border-radius: 50px 0px 0px 50px;
    position: relative;
    right: -30px;
    box-shadow: 10px 9px 15px 0px $accent_color;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){

    .all_header_text {
        font-size: 1.3rem !important;
    }

}
@media only screen and (max-width: 500px){

    .all_header_text {
        font-size: 1.2rem !important;
    }

}