// color
$white : white;
$black : #171717;
$smal_text : #4b4b4b;
$accent_color : #66C3D2;
$ac_color : #d1f541;

$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98; 

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898; 

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d; 

// fonts
$nf : normal-font;
$bf : bold-font;
$lf : light-font;
$af : accent-font;

$shadow : 0px 0px 6px -3px #00000073;