<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/products/product-list.css">
    <title>index</title>
</head>

<body>
    <!-- The part at the top of the page where the logo and search are located -->
    <div class="secondary-nav">
        <div class="NB-search">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- search -->
                        <span class="input-group-text" id="navbar_search">
                            <button class="btn">
                                <i class="fal fa-search"></i>
                            </button>
                        </span>
                        <!-- search -->
                    </div>
                    <input type="text" class="form-control" placeholder="نام محصول یا کالای مورد نظر خود را وارد کنید !"
                        aria-describedby="navbar_search">
                </div>
            </form>
        </div>
        <!-- logo -->
        <img src="../../assets/img/AL00.png" alt="logo" title="logo">
    </div>

    <!-- navbar -->
    <nav>
        <div class="SN_layout"></div>
        <button class="sandwich-navbar btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="right-NB">
            <i class="fas fa-times close_SN"></i>
            <!-- navbar option -->
            <ul class="navbar-option">
                <li class="active-page">
                    <a href="index.html">صفحه اصلی</a>
                </li>
                <li class="NBP-dropdown" id="PDP">
                    <p>محصولات <i class="fal fa-angle-down"></i></p>
                    <div class="product-option" id="PD">
                        <a href="../product/product-list.html">تمام محصولات</a>
                        <a href="">سامسونگ</a>
                        <a href="">اپل</a>
                        <a href="">اپل واچ</a>
                        <a href="">ایر پاد</a>
                    </div>
                </li>
                <li id="PDSN">
                    <a href="../product/product-list.html">تمام محصولات</a>
                    <a href="">سامسونگ</a>
                    <a href="">اپل</a>
                    <a href="">اپل واچ</a>
                    <a href="">ایر پاد</a>
                </li>
                <li>
                    <a href="../article/article.html">اخبار</a>
                </li>
                <li>
                    <a href="../about-us/about-us.html">درباره ما</a>
                </li>
                <li>
                    <a href="../contact-us/contact-us.html">تماس با ما</a>
                </li>
            </ul>
            <!-- navbar option -->
        </div>
        <div class="left-NB">
            <div class="LR-field">
                <a href="">ورود</a>
                /
                <a href="">عضویت</a>
            </div>
            <div class="basket-field">
                <a href="">
                    سبد خریـــــــــــــد
                    <i class="fas fa-shopping-cart"></i>
                    <div class="B-conter">3</div>
                </a>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    <!-- mobile filter btns -->
    <section class="filter_navbar">
        <!-- <div id="OPF">
            <i class="fas fa-filter"></i>
            فیلتر ها
        </div> -->

        <div class="PRT_F">
            <a class="PRT active" href="">گرانترین ها</a>
            <a class="PRT" href="">ارزان ترین ها</a>
        </div>
    </section>
    <!-- product filter modal black layout -->
    <div class="modal_layout"></div>

    <section class="product_field">

        <div class="poor_rich">
            <a class="PRT active" href="">گرانترین ها</a>
            <a class="PRT" href="">ارزان ترین ها</a>
        </div>

        <!-- product cards -->
        <div class="product_list">

            <a href="" class="product_card">
                <div class="PC_color">
                    <span style="background-color: white;"></span>
                    <span style="background-color: rgb(197, 197, 197);"></span>
                    <span style="background-color: black;"></span>
                    <span style="background-color: #9A7597;"></span>
                </div>
                <img src="../../assets/img/AP00.PNG" alt="">
                <p class="PC_description">گوشی طرح اصلی ایفون 11 پرو مکس 12 گیگ حافظه داخلی</p>
                <p class="PC_price sale">3.000.000</p>
                <p class="PC_sale">2.700.000</p>
                <div class="NE_field">
                    <span></span>
                    <p>ناموجود</p>
                </div>
                <div class="sale_flag">
                    <span>تخفیف</span>
                    <span>10%</span>
                </div>
            </a>
            <a href="" class="product_card">
                <div class="PC_color">
                    <span style="background-color: white;"></span>
                    <span style="background-color: rgb(197, 197, 197);"></span>
                    <span style="background-color: black;"></span>
                    <span style="background-color: #9A7597;"></span>
                </div>
                <img src="../../assets/img/AP01.png" alt="">
                <p class="PC_description">گوشی طرح اصلی ایفون 11 پرو مکس 12 گیگ حافظه داخلی</p>
                <p class="PC_price">3.000.000</p>
            </a>
            <a href="" class="product_card">
                <div class="PC_color">
                    <span style="background-color: white;"></span>
                    <span style="background-color: rgb(197, 197, 197);"></span>
                    <span style="background-color: black;"></span>
                    <span style="background-color: #9A7597;"></span>
                </div>
                <img src="../../assets/img/AP02.png" alt="">
                <p class="PC_description">گوشی طرح اصلی ایفون 11 پرو مکس 12 گیگ حافظه داخلی</p>
                <p class="PC_price">3.000.000</p>
            </a>
            <a href="" class="product_card">
                <div class="PC_color">
                    <span style="background-color: white;"></span>
                    <span style="background-color: rgb(197, 197, 197);"></span>
                    <span style="background-color: black;"></span>
                    <span style="background-color: #9A7597;"></span>
                </div>
                <img src="../../assets/img/AP06.png" alt="">
                <p class="PC_description">گوشی طرح اصلی ایفون 11 پرو مکس 12 گیگ حافظه داخلی</p>
                <p class="PC_price">3.000.000</p>
            </a>

            <div Class="N_exist">
                موردی برای نمایش یافت نشد !
            </div>

            <div class="PU_field"> 
                <div class="pagination_ul">
                    <ul>
                        <li>
                            <a href="" class="arrow"><i class="fal fa-angle-double-right"></i></a>
                        </li>
                        <li>
                            <a href="" class="arrow enable"><i class="fal fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a href="">1</a>
                        </li>
                        <li class="dotted">...</li>
                        <li>
                            <a href="">8</a>
                        </li>
                        <li>
                            <a class="active" href="">9</a>
                        </li>
                        <li>
                            <a href="">10</a>
                        </li>
                        <li class="dotted">...</li>
                        <li>
                            <a href="">15</a>
                        </li>
                        <li>
                            <a href="" class="arrow"><i class="fal fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="" class="arrow"><i class="fal fa-angle-double-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        

        <!-- filters -->
        <!-- <div class="main_filter_field">
            <div class="filter_field">
                <i class="far fa-times close_FF"></i>
                <form action="">
                    <h3 class="all_header_text">برند موبایل </h3>
                    <span class="header_underline"></span>
    
                    <div class="FF_brand_name">
    
                        <input class="inp-cbx" id="samsung" type="checkbox" style="display: none" />
                        <label class="cbx" for="samsung">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                سامسونگ
                                <div class="english_brand">Samsung</div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="apple" type="checkbox" style="display: none" />
                        <label class="cbx" for="apple">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                اپل
                                <div class="english_brand">Apple</div>
                            </span>
                        </label>
    
                    </div>
    
                    <div class="FF_color">
                        <h3 class="all_header_text">رنگ موبایل</h3>
                        <span class="header_underline"></span>
    
                        <input class="inp-cbx" id="color-1" type="checkbox" style="display: none" />
                        <label class="cbx" for="color-1">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                سفید
                                <div class="color_shape" style="background-color: white;"></div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="color-2" type="checkbox" style="display: none" />
                        <label class="cbx" for="color-2">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                نقره ای
                                <div class="color_shape" style="background-color: #C5C5C5;"></div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="color" type="checkbox" style="display: none" />
                        <label class="cbx" for="color">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                مشکی
                                <div class="color_shape" style="background-color: black;"></div>
                            </span>
                        </label>
    
                    </div>
    
                    <div class="FF_color">
                        <h3 class="all_header_text">حافظه داخلی</h3>
                        <span class="header_underline"></span>
    
                        <input class="inp-cbx" id="memory-1" type="checkbox" style="display: none" />
                        <label class="cbx" for="memory-1">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                64 گیگابایت
                                <div class="english_brand">64GB</div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="memory-2" type="checkbox" style="display: none" />
                        <label class="cbx" for="memory-2">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                128 گیگابایت
                                <div class="english_brand">64GB</div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="memory-3" type="checkbox" style="display: none" />
                        <label class="cbx" for="memory-3">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                256 گیگابایت
                                <div class="english_brand">256GB</div>
                            </span>
                        </label>
    
                    </div>
    
                    <div class="FF_color">
                        <h3 class="all_header_text">کیفیت دوربین</h3>
                        <span class="header_underline"></span>
    
                        <input class="inp-cbx" id="camera-1" type="checkbox" style="display: none" />
                        <label class="cbx" for="camera-1">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                13 مگاپیکسل
                                <div class="english_brand">13MP</div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="camera-2" type="checkbox" style="display: none" />
                        <label class="cbx" for="camera-2">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                32 مگاپیکسل
                                <div class="english_brand">32MP</div>
                            </span>
                        </label>
    
                        <input class="inp-cbx" id="camera-3" type="checkbox" style="display: none" />
                        <label class="cbx" for="camera-3">
                            <span>
                                <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="brand_name">
                                64 مگاپیکسل
                                <div class="english_brand">64MP</div>
                            </span>
                        </label>
    
                    </div>
    
                    <button class="btn add_filters">اعمال فیلتر ها</button>
                </form>
            </div>
        </div> -->
    </section>

    <div Class="NP_exist">
        موردی برای نمایش یافت نشد !
    </div>

    <!-- footer -->
    <footer>
        <div class="contact">
            <p class="header">ارتباط با ما</p>
            <p>
                <i class="fal fa-map-marker-alt"></i>
                تهران - بلوار نلسون ماندلا- بالاتر از چهار راه اسفندیاری - خیابان فاطمی - برج صبا
            </p>
            <p>
                <i class="fal fa-at"></i>
                kasrahabibbeygi@hmail.com
            </p>
            <p>
                <i class="fal fa-mobile"></i>
                <span>09021414866</span>
                <span>09371969052</span>
            </p>
        </div>
        <div class="short_links">
            <p class="header">محصولات</p>
            <ul>
                <li>
                    <a href="">سامسونگ</a>
                </li>
                <li>
                    <a href="">اپل</a>
                </li>
                <li>
                    <a href="">اپل واچ</a>
                </li>
                <li>
                    <a href="">ایر پاد</a>
                </li>
            </ul>
        </div>
        <div class="short_links">
            <p class="header">لینک های مفید</p>
            <ul>
                <li>
                    <a href="">مقالات</a>
                </li>
                <li>
                    <a href="">تماس با ما</a>
                </li>
                <li>
                    <a href="">درباره ما</a>
                </li>
                <li>
                    <a href="">محصولات</a>
                </li>
            </ul>
        </div>
        <div class="footer_description">
            <p class="header">ATP.mobile</p>
            <p class="FDT">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </p>
            <div class="social_media">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="copy_right">
            <p>
                &copy; تمام حقوق مادی و معنوی این سایت محفوظ است
            </p>
        </div>
    </footer>
    <!-- footer -->

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/custom/navbar.js"></script>
    <script src="../../assets/js/products/product-list.js"></script>
</body>

</html>