@import '../partials/variable';
@import '../partials/mixin';
@import '../partials/header-text';
@import '../partials/product-slider';
@import '../partials/errors';

// slider configs
.slider_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

    img {
        width: 200px;
        border-radius: 10px;
    }
}

.slider_small_img {
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 50px;
    }
}

.gallery-top {
    height: 300px;
    width: 100%;
}

.gallery-thumbs {
    height: 30%;
    box-sizing: border-box;
    padding: 10px 30px;
    padding-right: 0px;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 85px;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.scale-gallery-thumbs {
    height: 30%;
    box-sizing: border-box;
    padding: 10px 30px;
    padding-right: 0px;
}

.scale-gallery-thumbs .swiper-slide {
    width: 25%;
    height: 85px;
    opacity: 0.4;
}

.scale-gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

// product details customs
.product_details_field {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px -3px #00000073;
    margin: 0px 0px 30px 10%;
    align-items: center;
    position: relative;
    overflow: hidden;

    .PD_img_field {
        width: 40%;
        height: max-content;

        .scale_img {
            width: 100%;
            display: flex;
            justify-content: center;

            .scale_btn {
                width: max-content;
                border-radius: 50px;
                border: 1px solid rgb(219, 219, 219);
                font-size: 0.85rem;
                color: rgb(163, 163, 163);
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }

    .PD_info_field {
        width: 60%;
        padding-right: 20px;
        border-right: 1px solid rgb(235, 235, 235);
        text-align: right;
        direction: rtl;

        h1 {
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 40px;
        }

        small {
            font-size: 0.9rem;
            font-weight: bold;
            color: #d9d9d9;
            line-height: 30px;
        }

        .brand_point {
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            p {
                font-family: $nf;
                margin-left: 20px;
                font-size: 0.9rem;
                margin-bottom: 0px;

                span {
                    color: rgb(146, 146, 146);
                }
            }
        }

        .PD_chose_box {
            display: flex;
            flex-wrap: wrap;
            width: 70%;

            h3 {
                width: 100%;
                margin-top: 30px;
                font-size: 1.2rem;
                font-weight: bold;
            }

            .color_pill {
                display: none !important;


            }

            .active_by_memory {
                display: flex !important;
            }

            .PDCB_parent {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                div {
                    width: max-content;
                    padding: 7px 15px;
                    margin: 5px 5px;
                    font-size: 0.9rem;
                    font-family: $nf;
                    border-radius: 5px;
                    box-shadow: 0px 0px 4px -2px #00000054;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: rgb(51, 51, 51);
                    border: 1px solid transparent;

                    span {
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        border: 1px solid #dfdfdf;
                        display: block;
                        margin-left: 10px;
                    }
                }
            }

        }

        .guarantee_field {
            width: 100%;
            border-top: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            padding: 20px 0px;
            margin-top: 20px;
            font-size: 0.9rem;
            font-family: $nf;

            i {
                color: $accent_color;
                font-size: 1.5rem;
                position: relative;
                top: 2px;
                margin-left: 7px;
            }
        }

        .PD_price {
            position: relative;
            display: flex;
            align-items: center;
            height: 70px;

            .NE_field {

                p {
                    color: #CFD1D8;
                }
            }

            .not_active {
                background-color: #CFD1D8;
                cursor: auto;
            }

            p {
                color: $accent_color;
                font-size: 1.6rem;
                font-weight: bold;
                margin: 0;
            }

            button {
                width: max-content;
                padding: 10px 30px;
                background-color: $accent_color;
                border-radius: 50px;
                color: white;
                font-weight: bold;
                border: 0px;
                position: absolute;
                left: 0px;
                top: 15px;

                &:hover{
                    background-color: $ac_color;
                }
            }

            .sale_flag_field {
                display: flex;
                align-items: center;
                margin-top: 5px;

                p {

                    &:first-child {
                        color: rgb(207, 207, 207);
                        text-decoration: line-through;
                        margin-left: 20px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.add_done {
    background-color: #ebfeec !important;
    color: #0fb900 !important;
    border-right: 4px solid #0fb900 !important;
}

.flow_error_field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-align: right;
    position: fixed;
    right: -500px;
    top: 180px;
    z-index: 100;
    background-color: #FEF5EB;
    cursor: auto;
    color: #B95000;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    border-right: 4px solid #B95000;
    @include transition(1s, cubic-bezier(0.43, -0.01, 0.33, 1.26), 0s);

    i {
        font-size: 1.2rem;

        &:last-child {
            margin-right: 50px;
            cursor: pointer;
        }

        &:first-child {
            margin-left: 10px;
        }
    }

    p {
        margin-bottom: 0px;
    }
}

.sale_flag {
    position: absolute;
    background-color: #FF6565;
    color: white;
    transform: rotate(45deg);
    width: 190px;
    text-align: center;
    padding: 5px 0px;
    direction: rtl;
    right: -45px;
    top: 25px;
    font-family: $af;
    font-size: 1.5rem;
}

.N_exost_video {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    direction: rtl;
    color: rgb(102, 102, 102);
}

// product info and details and video and comments
.Survey_field {
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;

    .survey_option {
        width: 100%;
        display: flex;
        direction: rtl;
        text-align: right;

        div {
            width: max-content;
            padding: 15px 20px;
            font-family: $nf;
            direction: rtl;
            background-color: #F5F5F5;
            border-radius: 14px;
            margin-left: 12px;
            box-shadow: 3px 3px 8px -1px #0000001c;
            cursor: pointer;
            color: rgb(85, 85, 85);

            &:last-child {
                margin-left: 0px;
            }

            svg {
                width: 30px;
                fill: rgb(85, 85, 85);
                margin-left: 5px;
            }
        }

        .active_SO {
            background-color: $accent_color;
            color: $white;

            svg {
                fill: $white;
            }
        }
    }

    .SO_details_field {
        width: 100%;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 6px -3px #00000073;
        margin-top: 30px;
        direction: rtl;
        text-align: right;

        .SO_container {

            display: none;

            &:first-child {
                display: block;
            }

            h3 {
                font-weight: bold;
                font-size: 1.3rem;
                margin-top: 60px;
                margin-bottom: 30px;

                &:first-child {
                    margin-top: 10px;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                color: #5a5a5a;

                li {
                    display: flex;
                    margin-top: 20px;
                    font-family: $nf;

                    .title {
                        width: 31%;
                        margin-left: 1%;
                        border-radius: 10px;
                        height: max-content;
                        min-height: 50px;
                        box-shadow: 2px 2px 4px 0px #00000012;
                        background-color: #F9F9F9;
                        display: flex;
                        align-items: center;
                        padding-right: 20px;
                        line-height: 30px;
                        padding-left: 20px;
                    }

                    .empty_title {
                        width: 31%;
                        margin-left: 1%;
                        min-height: 50px;
                    }

                    .description {
                        width: 68%;
                        border-radius: 10px;
                        min-height: 50px;
                        box-shadow: 2px 2px 4px 0px #00000012;
                        background-color: #F9F9F9;
                        align-items: center;
                        display: flex;
                        padding-right: 20px;
                        line-height: 30px;
                        padding-left: 20px;
                    }
                }
            }

            .video_title {
                margin-top: 50px;
                margin-bottom: 40px;
                font-size: 1.3rem;
                font-weight: bold;

                &:first-child {
                    margin-top: 10px;
                }
            }

            .add_comments {
                width: 500px;
                margin: 0 auto;

                h3 {
                    width: 100%;
                    text-align: center;
                    font-size: 1.7rem;
                }

                button {
                    font-size: 1.2rem;
                    padding: 5px 50px;
                    color: #fff;
                    background-color: $accent_color;
                    border-radius: 50px;
                    margin-bottom: 110px;
                }
            }

            .comment_field {
                width: 90%;
                margin-right: 5%;
                display: flex;
                margin-top: 20px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50px;
                    margin-left: 20px;
                }

                .comments_info {

                    .name {
                        font-weight: bold;
                    }

                    .time_reply {

                        p {
                            color: #c5c5c5;
                            font-size: 0.85rem;
                        }
                    }

                    .comment_text {
                        color: #2c2c2c;
                        line-height: 30px;
                        text-align: justify;
                    }
                }
            }

            &:nth-child(2) {

                direction: rtl;
                text-align: right;

                h1 {
                    font-size: 2.7rem !important;
                    font-family: $af !important;
                    margin-bottom: 20px !important;
                    color: $accent_color !important;
                }

                p {
                    color: rgb(83, 83, 83) !important;
                    line-height: 33px !important;
                    font-size: 1rem !important;
                }

                ul {
                    li {
                        padding-top: 15px !important;
                    }
                }

                h2 {
                    margin: 0px 0px !important;
                    font-size: 1.5rem !important;
                    font-weight: bold !important;
                }

                h3 {
                    font-size: 1.5rem !important;
                }

                img {
                    width: 100% !important;
                    height: auto !important;
                    border-radius: 15px !important;
                }

            }

        }
    }
}

// iframe custom
.h_iframe-aparat_embed_frame {
    position: relative;

    span {
        display: block !important;
        padding-top: 34% !important;
    }
}

.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.active_pill {
    border: 1px solid $accent_color !important;
    color: $accent_color !important;
}

.field_of_scale {
    width: 100%;
    height: 100vh;
    background-color: #00000066;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999999;
    display: none;
    justify-content: center;
    align-items: center;

    .flex_field {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .main_box {
        position: relative;
        width: 1000px;
        background-color: white;
        border-radius: 15px;
        padding: 50px 50px;

        .close_scale_modal {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 1.7rem;
            color: #848484;
            cursor: pointer;
        }

        .slider_img img {
            width: 280px;
            border-radius: 10px;
        }

        .slider_small_img img {
            width: 60px;
        }

        .slider_small_img {
            height: 110px;
        }

        .scale-gallery-thumbs {
            margin-top: 50px;
        }
    }
}

// media query
@media only screen and (max-width: 1350px) {

    .slider_small_img img {
        width: 40px;
    }

}

@media only screen and (max-width: 1240px) {

    .Survey_field .SO_details_field .SO_container ul li {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 1150px) {

    .product_details_field {
        width: 90%;
        margin: 30px 0px 30px 5%;
    }

    .Survey_field {
        width: 90%;
        margin-left: 5%;
    }

}

@media only screen and (max-width: 1170px) {

    .field_of_scale .main_box {
        width: 650px;
    }

}

@media only screen and (max-width: 1000px) {

    .product_details_field .PD_info_field h1 {
        font-size: 1.1rem;
    }

    .slider_img img {
        width: 150px;
    }

    .product_details_field .PD_info_field .PD_chose_box {
        width: 100%;
    }

    .Survey_field .survey_option div {
        font-size: 0.9rem;
        padding: 12px 17px;
    }

    .Survey_field .survey_option div svg {
        width: 26px;
    }

}

@media only screen and (max-width: 950px) {

    .product_details_field .PD_info_field .PD_price p {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 900px) {

    .product_details_field .PD_info_field {
        width: 100%;
        padding-right: 20px;
        border-right: 0px;
        order: 2;
    }

    .product_details_field .PD_img_field {
        width: 100%;
        order: 1;
        margin-bottom: 70px;
    }

    .slider_img img {
        width: 190px;
    }

    .slider_small_img img {
        width: 60px;
    }

    .gallery-thumbs .swiper-slide {
        height: 125px;
    }

    h1 {
        font-size: 1.3rem !important;
    }

    .product_details_field .PD_info_field .PD_chose_box {
        width: 80%;
    }

    .gallery-thumbs {
        padding: 10px 10px;
    }

    .Survey_field .SO_details_field .SO_container ul li {
        font-size: 0.8rem;
    }

    .Survey_field .SO_details_field .SO_container .comments_input_field form {
        width: 460px;
    }

    .product_details_field .PD_info_field .PD_price .main_price {
        font-size: 1.8rem;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 800px) {

    .h_iframe-aparat_embed_frame iframe {
        width: 80%;
        margin-left: 10%;
    }

    .h_iframe-aparat_embed_frame span {
        display: block !important;
        padding-top: 45.3% !important;
    }

}

@media only screen and (max-width: 700px) {

    .product_details_field .PD_info_field .PD_chose_box {
        width: 100%;
    }

    .Survey_field .SO_details_field .SO_container ul li .title {
        width: 38%;
        margin-left: 3%;
    }

    .Survey_field .SO_details_field .SO_container ul li .description {
        width: 60%;
    }

    .Survey_field .SO_details_field .SO_container ul li .empty_title {
        width: 38%;
        margin-left: 3%;
    }

    .field_of_scale .main_box {
        width: 500px;
    }

}

@media only screen and (max-width: 630px) {

    .Survey_field .survey_option {
        justify-content: center;
    }

    .Survey_field .survey_option div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Survey_field .survey_option div svg {
        margin: 0px;
    }

    .Survey_field .SO_details_field .SO_container .add_comments {
        width: 90%;
        margin-right: 5%;
    }

    .Survey_field .SO_details_field .SO_container .add_comments h3 {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 1.1rem !important;
    }

    .product_details_field .PD_img_field {
        margin-bottom: 40px;
    }

    .h_iframe-aparat_embed_frame iframe {
        width: 90%;
        margin-left: 5%;
    }

    .h_iframe-aparat_embed_frame span {
        display: block !important;
        padding-top: 51.3% !important;
    }

    .Survey_field .SO_details_field .SO_container .comments_input_field form {
        width: 90%;
    }

    .product_details_field .PD_info_field .PD_price .sale_flag_field {
        margin-top: 25px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product_details_field .PD_info_field .PD_price button {
        top: 25px;
    }

    .product_details_field .PD_info_field .PD_price .main_price {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 550px) {

    .field_of_scale .main_box {
        width: 90%;
    }

    .slider_img {
        padding: 0px;
    }

}

@media only screen and (max-width: 500px) {

    .field_of_scale .main_box .slider_img img {
        width: 230px;
        border-radius: 10px;
    }

    .field_of_scale .main_box .slider_small_img img {
        width: 50px;
    }

    .Survey_field .SO_details_field .SO_container .comment_field {
        width: 100%;
        margin-right: 0%;
        display: flex;
    }

    .product_details_field .PD_info_field {
        padding-right: 0px;
    }

    .Survey_field .SO_details_field .SO_container:nth-child(2) h2 {
        font-size: 1.4rem;
        line-height: 40px;
    }

}

@media only screen and (max-width: 460px) {

    .product_details_field .PD_info_field .PD_chose_box div {
        padding: 8px 10px;
        font-size: 0.8rem;
    }

    .product_details_field .PD_info_field .PD_price {
        flex-wrap: wrap;
        text-align: center;
        height: max-content;
    }

    .product_details_field .PD_info_field .PD_price button {
        width: 100%;
        padding: 10px 30px;
        border: 0px;
        position: unset;
    }

    .product_details_field .PD_info_field .PD_price p {
        width: 100%;
        margin: 30px 0px;
        font-size: 2.3rem;
    }

    .field_of_scale .main_box .slider_img img {
        width: 80%;
    }

    .Survey_field .SO_details_field .SO_container .comment_field img {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .product_details_field .PD_info_field .PD_price .sale_flag_field p:first-child {
        margin: 0;
    }

    .product_details_field .PD_info_field .PD_price .sale_flag_field {
        width: 100%;
    }

    .product_details_field .PD_info_field .PD_price p:last-child {
        margin: 0;
    }

}

@media only screen and (max-width: 450px) {

    .Survey_field .survey_option div {
        font-size: 0.8rem;
        padding: 12px 15px;
    }

    .Survey_field .survey_option div svg {
        margin-bottom: 5px;
    }

    .Survey_field .survey_option div {
        width: 48%;
        margin: 5px 1%;

        &:last-child {
            margin-left: 1%;
        }
    }

    .Survey_field .survey_option {
        flex-wrap: wrap;
    }

    .Survey_field .SO_details_field .SO_container .add_comments {
        width: 100%;
        margin-right: 0%;
    }

}

@media only screen and (max-width: 410px) {

    .product_details_field .PD_info_field .guarantee_field {
        line-height: 36px;
    }

    h1 {
        font-size: 1rem !important;
    }

    .product_details_field {
        padding: 10px;
    }

    .Survey_field .SO_details_field .SO_container .add_comments h3 {
        font-size: 1.1rem;
        line-height: 30px;
    }

}